In [6]:
import pandas as pd

In [11]:
#dummy script to take folder of times and return a max and min time. 

#load data

#for the purposes of simplicity I just downloaded the data directly on my desktop. But it's on github so should be able to get from there. 


#data = [] #this will be an array of dataframes (maybe not best practice) that I will populate 

#def retrievedata(n, joblog_id):
    #TODO

#def computemin(dataset): 
    #TODO
    
#def computemax(dataset): 
    #TODO

IndentationError: expected an indented block after function definition on line 10 (3528476406.py, line 13)

In [3]:
import pandas as pd

#todo: loop through and read all data. Need to resolve error to do this. 

#url = (r'https://raw.githubusercontent.com/MayaGigChari/bird/main/4821958_times/1.csv')
#data_csv = pd.read_csv(url)

#below is the basic concept for doing this. need to make it iterative.

In [ ]:
data_csv = data_csv.to_numpy()

In [14]:
time1 = pd.read_csv("1time.csv")
print(time1)
list(time1.columns)

   Unnamed: 0      time  point
0           1  23:35:54      1
1           2  23:36:30      2

['Unnamed: 0', 'time', 'point']

In [19]:
time1.drop('Unnamed: 0', inplace=True, axis=1)
print(time1)

In [21]:
time2 = pd.read_csv("2time.csv")
time2.drop('Unnamed: 0', inplace=True, axis=1)

In [27]:
frames = [time1, time2]
comb = pd.concat(frames)

In [28]:
comb

       time  point
0  23:35:54      1
1  23:36:30      2
0  23:35:55      1
1  23:36:32      2

In [29]:
comb['time'] = pd.to_timedelta(comb['time'])
comb = comb.sort_values('time')

In [30]:
comb

             time  point
0 0 days 23:35:54      1
0 0 days 23:35:55      1
1 0 days 23:36:30      2
1 0 days 23:36:32      2

In [31]:
max(comb['time'])

Timedelta('0 days 23:36:32')

In [32]:
min(comb['time'])

Timedelta('0 days 23:35:54')

In [33]:
max(comb['time'])-min(comb['time'])

Timedelta('0 days 00:00:38')

In [ ]:
#here I can get the difference.