In [12]:
import pandas as pd
import os
import string

In [13]:
cwd = os.getcwd()
print(cwd)

/Users/mayachari/Desktop/bird

In [85]:
#dummy script to take folder of times and return a max and min time. 

#retrievedata loads data given a joblogid and job size and returns an array of all times. 
#returns also the min and max times and difference
def retrievedata(joblog_id, n):
    cwd = os.getcwd()
    array_times_tot = []
    for i in range(1,n+1):
        target_file = "/"+ str(joblog_id) +"_times/"+ str(i) + "time.csv"
        target_dif = cwd + target_file
        target_data = pd.read_csv(target_dif)
        target_data.drop('Unnamed: 0', inplace=True, axis=1)
        array_times_tot.append(target_data)
        
    #array_times_tot.drop("")
    array_times_tot = pd.concat(array_times_tot)
    array_times_tot.drop("point", inplace = True, axis = 1)
    array_times_tot['time'] = pd.to_timedelta(array_times_tot['time'])
    array_times_tot = array_times_tot.sort_values('time')
    
    min_t = min(array_times_tot["time"])
    max_t = max(array_times_tot["time"])
    return(array_times_tot, min_t, max_t, max_t-min_t )
    #return(array_times_tot)
#def computemin(dataset): 
    #TODO
    
#def computemax(dataset): 
    #TODO

In [86]:
#touse: joblog_id = 4826326_times

a = retrievedata(4826326,5)
print(a)

(             time
0 0 days 23:35:54
0 0 days 23:35:55
0 0 days 23:35:56
0 0 days 23:35:56
0 0 days 23:35:56
1 0 days 23:36:30
1 0 days 23:36:32
1 0 days 23:36:36
1 0 days 23:36:37
1 0 days 23:36:37, Timedelta('0 days 23:35:54'), Timedelta('0 days 23:36:37'), Timedelta('0 days 00:00:43'))

In [3]:
import pandas as pd

#todo: loop through and read all data. Need to resolve error to do this. 

#url = (r'https://raw.githubusercontent.com/MayaGigChari/bird/main/4821958_times/1.csv')
#data_csv = pd.read_csv(url)

#below is the basic concept for doing this. need to make it iterative.

In [ ]:
data_csv = data_csv.to_numpy()

In [14]:
time1 = pd.read_csv("1time.csv")
print(time1)
list(time1.columns)

   Unnamed: 0      time  point
0           1  23:35:54      1
1           2  23:36:30      2

['Unnamed: 0', 'time', 'point']

In [19]:
time1.drop('Unnamed: 0', inplace=True, axis=1)
print(time1)

In [21]:
time2 = pd.read_csv("2time.csv")
time2.drop('Unnamed: 0', inplace=True, axis=1)

In [27]:
frames = [time1, time2]
comb = pd.concat(frames)

In [28]:
comb

       time  point
0  23:35:54      1
1  23:36:30      2
0  23:35:55      1
1  23:36:32      2

In [29]:
comb['time'] = pd.to_timedelta(comb['time'])
comb = comb.sort_values('time')

In [30]:
comb

             time  point
0 0 days 23:35:54      1
0 0 days 23:35:55      1
1 0 days 23:36:30      2
1 0 days 23:36:32      2

In [31]:
max(comb['time'])

Timedelta('0 days 23:36:32')

In [32]:
min(comb['time'])

Timedelta('0 days 23:35:54')

In [33]:
max(comb['time'])-min(comb['time'])

Timedelta('0 days 00:00:38')

In [ ]:
#here I can get the difference.